mkdocs-blogging-plugin
mkdocs-callouts
mkdocs-material
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-video
mkdocs-pdf
# mkdocs-rss-plugin
# rich # for mkdocs-toc-plugin
